# roles/zookeeper/tasks/main.yml
---
- name: "Include {{ ansible_distribution }} variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: Create the 'openio' group
  group:
    name: openio
    gid: "{{ openio_group_openio_gid | default('220')}}"
  tags: install

- name: Create the 'openio' user
  user:
    name: openio
    comment: "openio account"
    uid: "{{ openio_user_openio_uid | default('120')}}"
    group: openio
  tags: install

- name: "Include {{ ansible_distribution }} tasks"
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: register openio_zookeeper_bind_address
  set_fact:
    _zk_addess: "{{ openio_zookeeper_bind_address }}"

- name: Test directories presence
  stat:
    path: "{{ item }}"
  register: _dir
  with_items:
    - "/etc/gridinit.d/{{ openio_zookeeper_namespace }}"
    - "{{ openio_zookeeper_sysconfig_dir }}/zookeeper-{{ openio_zookeeper_serviceid }}"
    - "{{ openio_zookeeper_volume }}"
    - "{{ openio_zookeeper_log_dir }}"

- name: Ensure directories exists
  file:
    path: "{{ item.item }}"
    state: directory
    owner: openio
    group: openio
    mode: 0755
    recurse: true
  with_items: "{{ _dir.results }}"
  when: not item.stat.exists
  tags: install

- name: Generate configuration files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: openio
    group: openio
    mode: 0644
  with_items:
    - src: "zookeeper.conf.j2"
      dest: "{{ openio_zookeeper_sysconfig_dir }}/\
        zookeeper-{{ openio_zookeeper_serviceid }}/zoo.cfg"
    - src: "log4j.properties.j2"
      dest: "{{ openio_zookeeper_sysconfig_dir }}/\
        zookeeper-{{ openio_zookeeper_serviceid }}/log4j.properties"
    - src: "java.env.j2"
      dest: "{{ openio_zookeeper_sysconfig_dir }}/\
        zookeeper-{{ openio_zookeeper_serviceid }}/java.env"
    - src: "gridinit_zookeeper.conf.j2"
      dest: "{{ openio_zookeeper_gridinit_dir }}/{{ openio_zookeeper_gridinit_file_prefix }}\
        zookeeper-{{ openio_zookeeper_serviceid }}.conf"
    - src: "myid.j2"
      dest: "{{ openio_zookeeper_volume }}/myid"

  register: _zookeeper_conf

- name: restart zookeeper
  shell: |
    gridinit_cmd reload
    gridinit_cmd restart  {{openio_zookeeper_namespace}}-zookeeper-{{openio_zookeeper_serviceid}}
  when:
    - _zookeeper_conf.changed
    - not openio_provision_only
  tags: configure
...
