{% if openio_zookeeper_servers.ip is defined -%}
{% if openio_zookeeper_servers.ip in ansible_all_ipv4_addresses -%}
{{ openio_zookeeper_servers.id }}
{% endif -%}
{% else -%}
{{ openio_zookeeper_servers.index(inventory_hostname) + 1 }}
{% endif -%}
